	<!-- Footer -->
	<div id="kp_footer">
		<div class="kp-wrapper group">

			<a style="bottom: -2px;color: #FFFFFF;position: fixed;right: 10px;text-decoration: none;z-index:9999;" href="#fsupport" id="feedback_support" class="feedback"><img src="/images/feedback-icon.png" /></a>
			
			<div class="f-about left">

				<a href="/" title="KnowPronto.com"><img src="/images/f_logo.png" alt="footer logo"></a>

				<p class="f-text">
					1 to 1 video teaching platform
				</p>
				<p>
					<div class="addthis_toolbox addthis_pill_combo">
					    <a class="addthis_button_tweet" tw:count="horizontal"></a>
					    <a class="addthis_button_facebook_like"></a>
					    <a class="addthis_counter addthis_pill_style"></a>
					</div>
					
				</p>

				<p class="f-small">&copy; 2013 <a href="/" title="KnowPronto.com">KnowPronto.com</a> | Dreamboat Enterprises</p>

			</div>
			<div class="l-holder left">

				<h3>Quick Connect !</h3>

				<div class="f-pages left">

					<nav role="navigation">

						<ul class="f-nav">
						<li><a href="https://www.knowpronto.com/aboutus" title="About us">About</a></li>
						<li><a href="https://www.knowpronto.com/blog" title="KnowPronto Blog">Blog</a></li>
						<li><a href="https://www.knowpronto.com/career" title="Career with us">Career</a></li>
						<li><a href="#support" id="f_support" title="Our support">Support</a></li>
						<li><a href="https://www.knowpronto.com/privacypolicy" title="Privacy and Policy">Privacy and Policy</a></li>
						<li><a href="https://www.knowpronto.com/termsofuse" title="Terms and Conditions">Terms and Conditions</a></li>
					</ul>

					</nav>

				</div>

				<div class="f-info left">

					<nav role="navigation">

						<ul>
						<li><a href="https://www.knowpronto.com/student" title="Students">Students</a></li>
						<li><a href="https://www.knowpronto.com/adviser" title="Advisers">Advisers</a></li>
						<li><a href="https://www.knowpronto.com/HowItWorks" title="How it works">How it Works</a></li>
						<li><a href="https://www.knowpronto.com/faqs" title="Frequently Asked Questions">FAQ</a></li>
						<li><a href="https://www.knowpronto.com/contactus" title="Contact with us">Contact Us</a></li>
					</ul>

					</nav>
				</div>
			</div>

			<div class="get-in-touch">

				<h3>Get In Touch !</h3>

				
				<p>
					<strong>Email </strong><span>: <a href="mailto:smm@knowpronto.com">smm@knowpronto.com</a></span>
				</p>
				

			</div>

		</div><!-- END #footer content wrapper -->
	</div><!-- END #footer -->

</body>
</html>