    <!-- Promo Video -->
    <div id="video-holder">
		<div class="kp-wrapper group">
			<div class="video-content">
				<div id="home-slider">

					<div class="v-slider group">

						<video id="video-player" width="580" height="326" controls>
							<source src="/media/kp_promo.mp4"  type="video/mp4" />
							<source src="/media/kp_promo.ogv"  type="video/ogg" /> 	
						</video>

						<div id="teacher-box">
							<h1>Teaching is really fun<br> when you are at KnowPronto!</h1>
						</div>
	
					</div>
				</div>
			</div>
		</div>
	</div><!-- END #video-holder -->

	<!-- Home page content -->
	<div id="kp_container">
		<section id="home-slogan">
			<div class="kp-wrapper group">

				<div class="video-button group">
					
						<a href="/signup" class="v-button">Start Teaching Today</a>
					
						<a href="/signup" class="v-button2">Start Learning Today</a>
					
				</div>
				<h2>We currently have <%= (typeof(advisers) != "undefined") ? advisers : 'over 100' %> Advisers!</h2>
				<h1>1-to-1 advice &amp; answers when you need them</h1>
				<h2>Advice from experts on any topic, delivered instantly via video &amp; screensharing</h2>

			</div>
		</section>
		<div id="home-content">
	
			<div class="kp-wrapper group">

				<section id="home-top-info" class="group">

					<div class="home-info-img left">
						<img src="/images/learning_image.png" alt="Easy Learning">
					</div>

					<div class="home-info-text left">

						<h1>Share your expertise with the world today</h1>

						<p>Meet new faces, share new skills <br>and get rewarded</p>

						<p class="h-button">
							<a href="/teaching" class="big-btn" title="Start Teaching Today">Start teaching today</a>
						</p>

					</div>

				</section>

				<div class="separator"></div>

				<!-- Home info and slider -->
				<section id="home-top-content">
					

						<div id="top-info-text">
							<ul id="info-img" class="group">
								<li>
									<div class="info-img no-margin-left">

										<img src="/images/income_stream.png" alt="income stream">

									</div>
								</li>
								<li>
									<div class="info-img">

										<img src="/images/teach_wherever.png" alt="teach wherever">

									</div>
								</li>
								<li class="no-border">
									<div class="info-img no-margin-right">

										<img src="/images/secure_payment.png" alt="secure payment">

									</div>
								</li>
							</ul>
							<ul class="group">
								<li>
									<div class="info-text no-margin-left">

										<h5 class="b1">TURN KNOWLEDGE INTO REVENUE</h5>

										<p>
											Teach and get paid online when you sign up with <strong>KnowPronto.com</strong>. If you can teach English, Mathematics or you're really good in teaching some other subject. Sign up and decide your own salary!
										</p>

									</div>
								</li>
								<li>
									<div class="info-text2">

										<h5 class="b2">TEACHING IS PERSONAL</h5>

										<p>
											We're building your online teaching platform and we keep things personal. You can join the conversation if you want to know more: <a href="https://www.facebook.com/groups/KnowPronto/" target="_blank">KnowPronto Facebook Group</a>. <br><br> Please drop us a line and share your thoughts :)
										</p>

									</div>
								</li>
								<li class="no-border">
									<div class="info-text2 no-margin-right">

										<h5 class="b3">Enjoy secure payments</h5>

										<p>
											Earn what you’ve shared with <strong>KnowPronto.com</strong>. We let you decide on your salary and we assure you with a secure payment method, such as PayPal. Get rewarded for every hour you spend. We’ll never pay you less.
										</p>

									</div>
								</li>
							</ul>

						</div>

					
				</section>
				<!-- Home info and slider -->

				<!-- Home testimony and social connect -->
				<section id="home-bot-content">

						<div id="kp_social">

							<h3 class="s-banner">Social Media</h3>

							<ul class="group">
								<li><a href="http://www.facebook.com/knowpronto" target="_blank" class="fb">Facebook</a></li>
								<li><a href="http://www.twitter.com/KnowPronto" target="_blank" class="tw">Twitter</a></li>
								<li><a href="http://www.linkedin.com/company/know-pronto" target="_blank" class="ln">Linkedin</a></li>
								<li><a href="http://www.gplus.to/KnowPronto" target="_blank" class="gp">Google+</a></li>
								<li><a href="http://www.pinterest.com/knowpronto" target="_blank" class="pin">Pinterest</a></li>
								<li><a href="http://www.youtube.com/user/KnowPronto" target="_blank" class="yt">Youtube</a></li>
								
							</ul>

						</div>

						

						<div id="kp-adventure" style="display:none">

							<h1>Ready to start your learning adventure?</h1>

							<p>Unlock your full potential with a world-class technology education!</p>

							<p class="h-button">
								<a href="/learning" class="big-btn">Learn more today</a>
							</p>

						</div>

					
				</section>
				<!-- Home testimony and social connect -->
			</div><!-- END #top content wrapper -->
		</div>
	</div><!-- END #container -->